.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  .lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(33, 40, 50, 0.25);
  }
  .lift:active {
    transform: none;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15);
  }
  
  .lift-sm {
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
  }
  .lift-sm:hover {
    transform: translateY(-0.1666666667rem);
    box-shadow: 0 0.25rem 1rem 0 rgba(33, 40, 50, 0.25);
  }
  .lift-sm:active {
    transform: none;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(33, 40, 50, 0.2);
  }
  
  .card.lift {
    text-decoration: none;
    color: inherit;
  }